<button type="button" class="btn {{join @buttonClasses}}" data-bs-toggle="modal" data-bs-target="#{{@id}}">{{@buttonText}}</button>
<div class="modal fade" id={{@id}} tabindex="-1" aria-labelledby="{{@id}}-heading" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen-lg-down">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="{{@id}}-heading">{{@title}}</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{{yield}}
			</div>
		</div>
	</div>
</div>