<nav class="p-3 bg-dark text-white">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<LinkTo class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" @route="index">Home</LinkTo>
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-lg-2">
				<li class="dropdown">
					<button id="inv-dd" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" type="button">Inventory</button>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="inv-dd">
						<li>
							<LinkTo @route="inventory.index" class="dropdown-item">Inventory</LinkTo>
						</li>
						<li><LinkTo @route="inventory.orders.index" class="dropdown-item">Orders</LinkTo></li>
						<li>
							<LinkTo @route="inventory.add" class="dropdown-item">Add Order</LinkTo>
						</li>
					</ul>
				</li>
				<li><a href="" class="text-white nav-link px-2">Clients</a></li>
				<li><a href="" class="text-white nav-link px-2">Parties</a></li>
			</ul>
			<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
				<input type="search" name="" id="" class="form-control form-control-dark" placeholder="Search…" aria-label="Search">
			</form>
			<div class="text-end">
				<button class="btn btn-outline-light me-2" type="button">Login</button>
				<button class="btn btn-warning" type="button">Sign Up</button>
			</div>
		</div>
	</div>
</nav>