{{page-title "Orders"}}
<Navigation />
<main class="container">
	<div class="border border-secondary rounded mt-5">
		<table class="table table-striped mb-0">
			<thead>
				<tr>
					<th>Order Number</th>
					<th>Date</th>
					<th class="text-end">Total</th>
				</tr>
			</thead>
			<tbody>
				{{#each this.dateSorted as |order|}}
					<tr>
						<td><LinkTo @route="inventory.orders.order" @model={{order.id}}>{{order.id}}</LinkTo></td>
						<td>{{order.date}}</td>
						<td class="text-end">${{order.grandTotal}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</main>