{{page-title "Order"}}
<Navigation />
<main class="container pt-5">
	<div>
		<LinkTo @route="inventory.orders" class="arrow-link left">Back to Inventory Orders</LinkTo>
	</div>
	<h1>Order {{@model.id}}</h1>
	<div class="row">
		<div class="col-12 col-lg-8">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Item Type</th>
						<th>Variety</th>
						<th>Quantity</th>
						<th>Total Paid</th>
					</tr>
				</thead>
				<tbody>
					{{#each-in this.itemTypes as |key val|}}
						<tr>
							<th scope="rowgroup" rowspan={{val.varieties.length}}>{{val.itemType.name}}</th>
							<th scope="row">{{val.varieties.firstObject}}</th>
							<td>{{get (get (get val val.varieties.firstObject) "items") "length"}}</td>
							<td class="text-end">${{get (get val val.varieties.firstObject) "total"}}</td>
						</tr>
						{{#each-in val as |vKey vVal|}}
							{{#unless (or (equal vKey "itemType") (equal vKey "varieties") (equal vKey val.varieties.firstObject))}}
								<tr>
									<th scope="row">{{vKey}}</th>
									<td>{{vVal.items.length}}</td>
									<td class="text-end">${{vVal.total}}</td>
								</tr>
							{{/unless}}
						{{/each-in}}
					{{/each-in}}
				</tbody>
				<tfoot class="text-end">
					{{#if @model.businessSupplies}}
						<tr>
							<th class="text-end " colspan="3" scope="row">Business Supplies</th>
							<td>${{@model.businessSupplies}}</td>
						</tr>
					{{/if}}
					{{#if @model.additionalDiscounts}}
						<tr>
							<th colspan="3" scope="row">Additional Discounts</th>
							<td>${{@model.additionalDiscounts}}</td>
						</tr>
					{{/if}}
					<tr>
						<th colspan="3" scope="row">Shipping</th>
						<td>${{@model.shipping}}</td>
					</tr>
					<tr>
						<th colspan="3" scope="row">Tax</th>
						<td>${{@model.taxes}}</td>
					</tr>
					{{#if @model.donations}}
						<tr>
							<th colspan="3" scope="row">Donations</th>
							<td>${{@model.donations}}</td>
						</tr>
					{{/if}}
					<tr>
						<th class="h5" colspan="3" scope="row"><strong>Grand Total</strong></th>
						<td class="h5"><strong>${{@model.grandTotal}}</strong></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</main>