{{page-title "Add Inventory"}}
<Navigation />
<main class="container">
	{{#if this.createdOrder}}
		<div id="order-link" class="alert alert-success" tabindex="-1"><LinkTo @route="inventory.orders.order" @model={{this.createdOrder.id}}>Order {{this.createdOrder.id}}</LinkTo> has been successfully created.</div>
	{{/if}}
	<h1 class="mt-5 px-4">Add Inventory Order</h1>
	<form name={{this.formName}} class="row border border-secondary rounded p-4 mt-3" {{on "submit" this.addOrderToInventory}} >
		<div class="col-12 col-md-6 col-lg-4 mb-3">
			<label for="order-id" class="form-label">Order Reference</label>
			<Input id="order-id" name="order-id" class="form-control" @value={{this.orderId}} pattern="[0-9]*" inputmode="numeric" required />
		</div>
		<div class="col-12 col-md-6 col-lg-2">
			<label for="order-date" class="form-label">Order Date</label>
			<Input id="order-date" name="order-date" class="form-control" @value={{this.orderDate}} @type="date" required />
		</div>
		<hr class="col-12 my-4">
		{{#if this.mathErrorCost}}
			<div class="col-12 alert alert-danger">The costs of everything put together (${{this.mathErrorCost}}) does not match up with your stated grand total (${{this.mathErrorGT}}). Verify all fields match your invoice.</div>
		{{/if}}
		{{#each this.orderedItemTypes as |oit index|}}
			{{#let (get this.orderedItems index) as |item|}}
				<h2 class="col-12{{if index " mt-4"}}">{{oit.name}}{{#if item}}: {{item.varietyName}}{{/if}}</h2>
			{{/let}}
			<div class="col-12 mb-1">
				<label for="item-type-{{index}}" class="form-label">Item Type</label>
				{{#if this.availableItemTypes.length}}
					<select id="item-type-{{index}}" name="item-type[]" class="form-select" {{on "change" this.itemTypeSelected}} data-item-type-index={{index}}>
						<option value="" disabled selected={{equal oit ''}}>Select an item type…</option>
						{{#each this.availableItemTypes as |itemType|}}
							<option value={{itemType.id}} selected={{equal itemType.name oit.name}}>{{itemType.name}}</option>
						{{/each}}
					</select>
				{{/if}}
			</div>
			{{#if oit.itemType}}
				<div class="col-12 col-lg-3">
					<label for="item-variety-{{index}}" class="form-label">Variety</label>
					<input id="item-variety-{{index}}" name="item-variety[]" class="form-control" list="variety-recommendations-{{index}}" required {{on "change" this.itemVarietySelected}} data-item-type-index={{index}}>
					<datalist id="variety-recommendations-{{index}}">
						{{#each oit.availableVarieties as |aVariety|}}
							<option>{{aVariety.varietyName}}</option>
						{{/each}}
					</datalist>
				</div>
				<div class="col-12 col-lg-3">
					<label for="item-variety-quantity-{{index}}" class="form-label">Quantity</label>
					<input id="item-variety-quantity-{{index}}" name="item-variety-quantity[]" class="form-control" type="number" required min="1" {{on "change" this.quantityChanged}} data-item-type-index={{index}}>
				</div>
				<div class="col-12 col-lg-3">
					<label for="item-variety-cost-{{index}}" class="form-label">Total Cost for Item(s)</label>
					<div class="input-group">
						<span class="input-group-text">$</span>
						<input id="item-variety-cost-{{index}}" name="item-variety-cost[]" class="form-control" type="decimal" pattern="[0-9,\.]*" required {{on "change" this.itemCostChanged}} data-item-type-index={{index}}>
					</div>
				</div>
				{{#if (minus this.orderedItemTypes.length 1)}}
					<div class="col-12 mt-2">
						{{#let (get this.orderedItems index) as |item|}}
							<button type="button" class="btn btn-danger" {{on "click" this.removeItemFromOrder}} data-item-type-index={{index}}>Remove {{oit.name}}{{if item (concat ": " item.varietyName)}}</button>
						{{/let}}
					</div>
				{{/if}}
			{{/if}}
		{{/each}}
		<div class="col-12 mt-2">
			<div class="d-flex">
				<Modal @id="create-new-item-type" @title="Create New Item Type" @buttonText="Create new item type" @buttonClasses={{array "btn-outline-dark me-2"}}>
					<div class="row">
						<div class="col-12 col-md-6 mb-3">
							<label for="item-name" class="form-label">Item Name</label>
							<Input class="form-control form-control-lg" id="item-name" @value={{this.newItemName}} />
						</div>
						<div class="col-12 col-md-6 mb-3">
							<label for="item-retail-value" class="form-label">Retail Value</label>
							<div class="input-group">
								<span class="input-group-text">$</span>
								<Input class="form-control form-control-lg" id="item-retail-value" @value={{this.newItemRetailValue}} pattern="[0-9]*" inputmode="decimal" min="0" />
							</div>
						</div>
						<div class="col-12 mb-3">
							<label for="item-description" class="form-label">Description</label>
							<Textarea class="form-control" id="item-description" @value={{this.newItemDescription}} />
						</div>
						<fieldset class="col-12">
							<legend>Varieties</legend>
							<div class="row">
								{{#each this.newVarieties as |variety index|}}
									<div class="col-12 col-md-6 mb-1 mb-md-2">
										<label for="variety-{{index}}" class="form-label">Variety Name</label>
										<Input class="form-control" id="variety-{{index}}" @value={{mut (get this.newVarieties index)}} />
									</div>
									{{#if this.varietyZeroBaseCount}}
										<div class="col-6 col-md-3 mb-2 align-self-end"><button type="button" class="btn btn-danger btn-sm" {{on "click" (fn this.removeVariety index)}}>Remove variety</button></div>
									{{/if}}
								{{/each}}
								<div class="col-6 {{if this.varietyZeroBaseCount "col-md-3" "col-md-6"}} mb-2 align-self-end">
									<button type="button" class="btn btn-outline-dark{{if this.varietyZeroBaseCount " btn-sm"}}" {{on "click" this.addVariety}}>Add another variety</button>
								</div>
							</div>
						</fieldset>
						<div class="col mt-3">
							<button class="btn btn-outline-primary" type="button" {{on "click" this.createItemType}}>Create Item</button>
						</div>
					</div>
				</Modal>
				{{#if this.availableItemTypes.length}}
					<button class="btn btn-warning" type="button" {{on "click" this.addAnotherItem}}>Add another item</button>
				{{/if}}
			</div>
		</div>
		<hr class="col-12 my-4">
		{{#if this.mathErrorCost}}
			<div class="col-12 alert alert-danger">The costs of everything put together (${{this.mathErrorCost}}) does not match up with your stated grand total (${{this.mathErrorGT}}). Verify all fields match your invoice.</div>
		{{/if}}
		<div class="col-12 col-lg-3 mb-3">
			<label for="business-supplies-cost" class="form-label">Cost of Business Supplies</label>
			<div class="input-group">
				<span class="input-group-text">$</span>
				<Input id="business-supplies-cost" name="business-supplies-cost" class="form-control" inputmode="decimal" pattern="[0-9,\.]*" @value={{this.businessSupplies}} />
			</div>
		</div>
		<div class="col-12 col-lg-2 mb-3">
			<label for="shipping-cost" class="form-label">Cost of Shipping</label>
			<div class="input-group">
				<span class="input-group-text">$</span>
				<Input id="shipping-cost" class="form-control" name="shipping-cost" inputmode="decimal" pattern="[0-9,\.]*" required @value={{this.shipping}} />
			</div>
		</div>
		<div class="col-12 col-lg-2 mb-3">
			<label for="additional-discounts" class="form-label">Additional Discounts</label>
			<div class="input-group">
				<span class="input-group-text">$</span>
				<Input id="additional-discounts" class="form-control" name="additional-discounts" inputmode="decimal" pattern="[0-9,\.]*" @value={{this.discounts}} />
			</div>
		</div>
		<div class="col-12 col-lg-2 mb-3">
			<label for="tax-cost" class="form-label">Tax</label>
			<div class="input-group">
				<span class="input-group-text">$</span>
				<Input id="tax-cost" name="tax-cost" class="form-control" inputmode="decimal" pattern="[0-9,\.]*" required @value={{this.tax}} />
			</div>
		</div>
		<div class="col-12 col-lg-2 mb-3">
			<label for="donations-cost" class="form-label">Donations</label>
			<div class="input-group">
				<span class="input-group-text">$</span>
				<Input id="donations-cost" name="donations" class="form-control" inputmode="decimal" pattern="[0-9,\.]*" @value={{this.donations}} />
			</div>
		</div>
		<div class="col-12 col-lg-6">
			<label for="grand-total" class="form-label">Grand Total</label>
			<div class="input-group">
				<span class="input-group-text">$</span>
				<Input id="grand-total" name="grand-total" class="form-control" inputmode="decimal" pattern="[0-9,\.]*" required @value={{this.grandTotal}} />
			</div>
		</div>
		<div class="col-12 mt-5">
			<button class="btn btn-primary" type="submit">Add order to inventory</button>
		</div>
		{{#if this.mathErrorCost}}
			<div class="col-12 alert alert-danger mt-4" role="alert">The costs of everything put together (${{this.mathErrorCost}}) does not match up with your stated grand total (${{this.mathErrorGT}}). Verify all fields match your invoice.</div>
		{{/if}}
	</form>
	{{!--
	{{#if this.addToExisting}}
		<p>Add to existing inventory or <button class="btn btn-link" type="button" {{on "click" this.toggleAddExisting}}>create a new item.</button></p>
		<label for="item-type-search">Search for item type</label>
		<Input @type="search" id="item-type-search" @value={{this.itemSearchKeywords}} />
		<div class="row">
			{{#each this.searchResults as |itemType|}}
				{{itemType.name}}
			{{/each}}
		</div>
	{{else}}
		{{#if this.itemTypeCreated}}
			<div class="row">
				<p class="col-12 col-lg-8">Fill in the information below to start tracking stock of your new inventory. If you have acquired a particular variety at different times and costs, please utilize the "Add to existing inventory" tool after filling in this form for one of those sets.</p>
			</div>
			<form action="">
				<h2>{{this.newItemName}}</h2>
				{{#each this.varieties as |variety index|}}
					<fieldset class="row mb-1">
						<legend>{{variety}}</legend>
						<div class="col-12 col-md-6 col-lg-4 mb-2">
							<label for="variety-cost-{{index}}" class="form-label mb-1">Partner Cost (per item minus shipping and tax)</label>
							<div class="input-group">
								<span class="input-group-text">$</span>
								<Input id="variety-cost-{{index}}" class="form-control" @value={{mut (get this.varietyItemCost index)}} pattern="[0-9]*" inputmode="decimal" min="0" required />
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-4 mb-2">
							<label for="variety-shipping-{{index}}" class="form-label mb-1">Shipping (per item)</label>
							<div class="input-group">
								<span class="input-group-text">$</span>
								<Input id="variety-shipping-{{index}}" class="form-control" @value={{mut (get this.varietyItemShipping index)}} pattern="[0-9]*" inputmode="decimal" min="0" required />
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-4 mb-2">
							<label for="variety-tax-{{index}}" class="form-label mb-1">Tax (per item)</label>
							<div class="input-group">
								<span class="input-group-text">$</span>
								<Input id="variety-tax-{{index}}" class="form-control" @value={{mut (get this.varietyItemTax index)}} pattern="[0-9]*" inputmode="decimal" min="0" required />
							</div>
						</div>
						<div class="col-12 col-md-6 mb-2">
							<label for="variety-quantity-{{index}}" class="form-label mb-1">Quantity Purchased at Partner Cost</label>
							<Input id="variety-quantity-{{index}}" @type="number" class="form-control" @value={{mut (get this.varietyItemQuantity index)}} min="1" required />
						</div>
						<div class="col-12 col-md-6 col-lg-4 mb-2">
							<label for="variety-date-{{index}}" class="form-label mb-1">Date Acquired</label>
							<Input id="variety-date-{{index}}" @type="date" @class="form-control" @value={{mut (get this.varietyItemDate index)}} required />
						</div>
					</fieldset>
				{{/each}}

			</form>
		{{else}}
			<p>Create a new item or <button class="btn btn-link" type="button" {{on "click" this.toggleAddExisting}}>add to existing inventory.</button></p>
			<form {{on "submit" this.createItemType}}>
				<div class="row">
					<div class="col-12 col-md-6 mb-3">
						<label for="item-name" class="form-label">Item Name</label>
						<Input class="form-control form-control-lg" id="item-name" @value={{this.newItemName}} required />
					</div>
					<div class="col-12 col-md-6 mb-3">
						<label for="item-retail-value" class="form-label">Retail Value</label>
						<div class="input-group">
							<span class="input-group-text">$</span>
							<Input class="form-control form-control-lg" id="item-retail-value" @value={{this.newItemRetailValue}} pattern="[0-9]*" inputmode="decimal" min="0" required />
						</div>
					</div>
					<div class="col-12 mb-3">
						<label for="item-description" class="form-label">Description</label>
						<Textarea class="form-control" id="item-description" @value={{this.newItemDescription}} />
					</div>
					<fieldset class="col-12">
						<legend>Varieties</legend>
						<div class="row">
							{{#each this.varieties as |variety index|}}
								<div class="col-12 col-md-6 mb-1 mb-md-2">
									<label for="variety-{{index}}" class="form-label">Variety Name</label>
									<Input class="form-control" id="variety-{{index}}" required @value={{mut (get this.varieties index)}} />
								</div>
								{{#if this.varietyZeroBaseCount}}
									<div class="col-6 col-md-3 mb-2 align-self-end"><button type="button" class="btn btn-danger btn-sm" {{on "click" (fn this.removeVariety index)}}>Remove variety</button></div>
								{{/if}}
							{{/each}}
							<div class="col-6 {{if this.varietyZeroBaseCount "col-md-3" "col-md-6"}} mb-2 align-self-end">
								<button type="button" class="btn btn-outline-dark{{if this.varietyZeroBaseCount " btn-sm"}}" {{on "click" this.addVariety}}>Add another variety</button>
							</div>
						</div>
					</fieldset>
					<div class="col mt-3">
						<button class="btn btn-outline-primary">Create Item</button>
					</div>
				</div>
			</form>
		{{/if}}
	{{/if}}
	--}}
</main>