{{page-title "Inventory"}}
<Navigation />
<main class="mt-5">
	<div class="container">
		<h1>Inventory</h1>
		<h2 class="mt-4">In Stock</h2>
		<div class="row">
			{{#each @model.inStockTypes as |itemType|}}
				<div class="col-12 col-md-6 col-lg-4 p-2">
					{{itemType.name}}
					{{#each-in (get @model.inStockItems itemType.name) as |variety items|}}
						<div class="ms-4">{{variety}}: {{items.length}}</div>
					{{/each-in}}
				</div>
			{{else}}
				<p class="col">No items in stock! Go get some! Or maybe you'd like to <LinkTo @route="inventory.add">add some</LinkTo>?</p>
			{{/each}}
		</div>
	</div>
</main>